/* Amazon Wishlist */
.mod_amazonwishlist h3 {font-size: 150%; font-weight:normal; margin-bottom:0;}
.mod_amazonwishlist h3 .name {font-size:75%; display:block;}
p.lastmodified {text-align:right;}

.wishlist {width: 98%; float:left; }
.wishlist dl {width: 100%; float:left; padding:0.5em 0; margin:0; border-bottom: 1px dashed; text-align:left;}

/* dt pic formating */
.wishlist dt.title_item { width:100%; margin: 0; padding: 0.5em;}
.wishlist dt.title_item .title  {position:absolute; top:-1000em; left:-1000em;}

/* formating all dd */
.wishlist dd {margin: 0; padding: 0.2em; float:left; width: 30%}

/* formating the specific dd */
.wishlist dd.pic img { padding: 2px; }
.wishlist dd.author {}
.wishlist dd.status {}
.wishlist dd.dateadded {}
.wishlist dd.quantitydesired {}
.wishlist dd.quantityreceived {}
.wishlist dd.priority {}
.wishlist dd.asin {}
.wishlist dd.price {font-size:150%;}

/* all title */
.wishlist dd .title  {position:absolute; top:-1000em; left:-1000em;}

/* title styling and showing with position static */
.wishlist dd.bild {width:110px;}
.wishlist dd.author .title {}
.wishlist dd.status .title {position:static;}
.wishlist dd.dateadded .title {position:static;}
.wishlist dd.quantitydesired .title {position:static;}
.wishlist dd.quantityreceived .title {position:static;}
.wishlist dd.priority .title {position:static;}
.wishlist dd.asin .title {position:static;}
.wishlist dd.price .title {position:static; font-size:75%;}

/* odd and even */
.wishlist .odd {background-color: #e7e7e7;}
.wishlist .even {background-color: transparent;}

/* first and last - at the end for overwriting the settings */
.wishlist .first {border-top: 3px double #666;}
.wishlist .last {border-bottom: 3px double #666;}

/* error style */
.wishlist .error {border: 1px #009ee0 dashed; background: #abd4ee; padding: 0.5em; }

/* pagination */
.pagination {padding: 1em;}
.pagination p {margin: 0; padding: 0.5em 0;}
.pagination ul li {margin:0; padding: 0 5px; list-style-type: none; display: inline;}