/* Amazon Wishlist */
.mod_amazonwishlist h3 {font-size: 150%; font-weight:normal; margin-bottom:0;}
.mod_amazonwishlist h3 .name {font-size:75%; display:block;}
p.geaendert {text-align:right;}

.wishlist {width: 98%; float:left; }
.wishlist dl {width: 100%; float:left; padding:0.5em 0; margin:0; border-bottom: 1px dashed; text-align:left;}

/* dt bzw. Bild formatieren */
.wishlist dt.title_item { width:100%; margin: 0; padding: 0.5em;}
.wishlist dt.title_item .title  {position:absolute; top:-1000em; left:-1000em;}

/* alle dd formatieren */
.wishlist dd {margin: 0; padding: 0.2em; float:left; width: 30%}

/* spezielle dt */
.wishlist dd.pic img { padding: 2px; }
.wishlist dd.author {}
.wishlist dd.status {}
.wishlist dd.hinzugefuegt_am {}
.wishlist dd.gewuenscht {}
.wishlist dd.erhalten {}
.wishlist dd.prioritaet {}
.wishlist dd.asin {}
.wishlist dd.preis {font-size:150%;}

/* alle title verstecken */
.wishlist dd .title  {position:absolute; top:-1000em; left:-1000em;}

/* title stylen und bei Bedarf wieder anzeigen */
.wishlist dd.bild {width:110px;}
.wishlist dd.author .title {}
.wishlist dd.status .title {position:static;}
.wishlist dd.hinzugefuegt_am .title {position:static;}
.wishlist dd.gewuenscht .title {position:static;}
.wishlist dd.erhalten .title {position:static;}
.wishlist dd.prioritaet .title {position:static;}
.wishlist dd.asin .title {position:static;}
.wishlist dd.preis .title {position:static; font-size:75%;}

/* odd und even stylen */
.wishlist .odd {background-color: #333;}
.wishlist .even {background-color: transparent;}

/* first und lasat stylen - zum Schluss um Werte überschreiben zu können */
.wishlist .first {border-top: 5px solid #666;}
.wishlist .last {border-bottom: 5px solid #666;}